In [7]:
def parse_file(file_content):
    rows = file_content.strip().split("\n")
    data = {}
    for row in rows:
        coord, value = row.split("=")
        r, c = [int(x) for x in coord.strip("[]").split(",")]
        if r not in data:
            data[r] = {}
        data[r][c] = value
        
    return data

In [8]:
import pandas as pd

def print_table(data):
    max_row = max(data.keys())
    max_col = max(max(d.keys()) for d in data.values())
    
    df = pd.DataFrame(index=range(max_row + 1), columns=range(max_col + 1))
    
    for r, row_data in data.items():
        for c, value in row_data.items():
            df.at[r, c] = value
            
    return df.fillna('ε')

In [13]:
input_text = '''
[0,0]=(g1.d0)
[0,5]=(g1.d7)
[1,4]=(g0.d3)
[2,1]=(g0.d6)
[3,0]=(g0.d1)
[4,3]=(g0.d5)
[5,2]=(g0.d4)
[5,5]=(g1.d0)
'''
result = parse_file(input_text)
print_table(result)

         0        1        2        3        4        5
0  (g1.d0)        ε        ε        ε        ε  (g1.d7)
1        ε        ε        ε        ε  (g0.d3)        ε
2        ε  (g0.d6)        ε        ε        ε        ε
3  (g0.d1)        ε        ε        ε        ε        ε
4        ε        ε        ε  (g0.d5)        ε        ε
5        ε        ε  (g0.d4)        ε        ε  (g1.d0)

In [12]:
input_text = '''
[0,0]=(g1.d0)
[0,5]=(g1.d7)
[1,0]=(g0.d1)
[2,1]=(g0.d5)
[3,2]=(g0.d3)
[4,3]=(g0.d6)
[5,4]=(g0.d4)
[5,5]=(g1.d0)
'''
result = parse_file(input_text)
print_table(result)

         0        1        2        3        4        5
0  (g1.d0)        ε        ε        ε        ε  (g1.d7)
1  (g0.d1)        ε        ε        ε        ε        ε
2        ε  (g0.d5)        ε        ε        ε        ε
3        ε        ε  (g0.d3)        ε        ε        ε
4        ε        ε        ε  (g0.d6)        ε        ε
5        ε        ε        ε        ε  (g0.d4)  (g1.d0)

In [14]:
input_text = '''
[0,0]=(g1.d0)
[0,5]=(g1.d7)
[1,4]=(g0.d3)
[2,1]=(g0.d6)
[3,0]=(g0.d1)
[4,3]=(g0.d5)
[5,2]=(g0.d4)
[5,5]=(g1.d0)
[6,6]=(g1.d0)
[6,11]=(g1.d7)
[7,6]=(g0.d1)
[8,7]=(g0.d5)
[9,8]=(g0.d3)
[10,9]=(g0.d6)
[11,10]=(g0.d4)
[11,11]=(g1.d0)
'''
result = parse_file(input_text)
print_table(result)

,0,1,2,3,4,5,6,7,8,9,10,11
0,(g1.d0),ε,ε,ε,ε,(g1.d7),ε,ε,ε,ε,ε,ε
1,ε,ε,ε,ε,(g0.d3),ε,ε,ε,ε,ε,ε,ε
2,ε,(g0.d6),ε,ε,ε,ε,ε,ε,ε,ε,ε,ε
3,(g0.d1),ε,ε,ε,ε,ε,ε,ε,ε,ε,ε,ε
4,ε,ε,ε,(g0.d5),ε,ε,ε,ε,ε,ε,ε,ε
5,ε,ε,(g0.d4),ε,ε,(g1.d0),ε,ε,ε,ε,ε,ε
6,ε,ε,ε,ε,ε,ε,(g1.d0),ε,ε,ε,ε,(g1.d7)
7,ε,ε,ε,ε,ε,ε,(g0.d1),ε,ε,ε,ε,ε
8,ε,ε,ε,ε,ε,ε,ε,(g0.d5),ε,ε,ε,ε
9,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d3),ε,ε,ε
10,ε,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d6),ε,ε
11,ε,ε,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d4),(g1.d0)

In [15]:
input_text = '''
[0,0]=(g1.d0)
[0,5]=(g1.d7)
[1,4]=(g0.d3)
[2,1]=(g0.d6)
[3,0]=(g0.d1)
[4,3]=(g0.d5)
[5,2]=(g0.d4)
[5,5]=(g1.d0)
[6,6]=(g1.d0)
[6,11]=(g1.d7)
[7,6]=(g0.d1)
[8,7]=(g0.d5)
[9,8]=(g0.d3)
[10,9]=(g0.d6)
[11,10]=(g0.d4)
[11,11]=(g1.d0)
'''
result = parse_file(input_text)
print_table(result)

,0,1,2,3,4,5,6,7,8,9,10,11
0,(g1.d0),ε,ε,ε,ε,(g1.d7),ε,ε,ε,ε,ε,ε
1,ε,ε,ε,ε,(g0.d3),ε,ε,ε,ε,ε,ε,ε
2,ε,(g0.d6),ε,ε,ε,ε,ε,ε,ε,ε,ε,ε
3,(g0.d1),ε,ε,ε,ε,ε,ε,ε,ε,ε,ε,ε
4,ε,ε,ε,(g0.d5),ε,ε,ε,ε,ε,ε,ε,ε
5,ε,ε,(g0.d4),ε,ε,(g1.d0),ε,ε,ε,ε,ε,ε
6,ε,ε,ε,ε,ε,ε,(g1.d0),ε,ε,ε,ε,(g1.d7)
7,ε,ε,ε,ε,ε,ε,(g0.d1),ε,ε,ε,ε,ε
8,ε,ε,ε,ε,ε,ε,ε,(g0.d5),ε,ε,ε,ε
9,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d3),ε,ε,ε
10,ε,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d6),ε,ε
11,ε,ε,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d4),(g1.d0)

In [17]:
input_text = '''
[0,0]=(g1.d0)
[0,5]=(g1.d7)
[1,4]=(g0.d3)
[2,1]=(g0.d6)
[3,0]=(g0.d1)
[4,3]=(g0.d5)
[5,2]=(g0.d4)
[5,5]=(g1.d0)
[6,5]=(g0.d78)
[6,6]=(g1.d0)
[6,11]=(g1.d7)
[7,6]=(g0.d1)
[8,7]=(g0.d5)
[9,8]=(g0.d3)
[10,9]=(g0.d6)
[11,10]=(g0.d4)
[11,11]=(g1.d0)
'''
result = parse_file(input_text)
print_table(result)

,0,1,2,3,4,5,6,7,8,9,10,11
0,(g1.d0),ε,ε,ε,ε,(g1.d7),ε,ε,ε,ε,ε,ε
1,ε,ε,ε,ε,(g0.d3),ε,ε,ε,ε,ε,ε,ε
2,ε,(g0.d6),ε,ε,ε,ε,ε,ε,ε,ε,ε,ε
3,(g0.d1),ε,ε,ε,ε,ε,ε,ε,ε,ε,ε,ε
4,ε,ε,ε,(g0.d5),ε,ε,ε,ε,ε,ε,ε,ε
5,ε,ε,(g0.d4),ε,ε,(g1.d0),ε,ε,ε,ε,ε,ε
6,ε,ε,ε,ε,ε,(g0.d78),(g1.d0),ε,ε,ε,ε,(g1.d7)
7,ε,ε,ε,ε,ε,ε,(g0.d1),ε,ε,ε,ε,ε
8,ε,ε,ε,ε,ε,ε,ε,(g0.d5),ε,ε,ε,ε
9,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d3),ε,ε,ε
10,ε,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d6),ε,ε
11,ε,ε,ε,ε,ε,ε,ε,ε,ε,ε,(g0.d4),(g1.d0)

# pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
#print_table(result)

In [7]:
(2*2+2)*2*2

6

In [10]:
result

{0: {0: '(g1.d0)', 5: '(g1.d7)'},
 1: {4: '(g0.d3)'},
 2: {1: '(g0.d6)'},
 3: {0: '(g0.d1)'},
 4: {3: '(g0.d5)'},
 5: {2: '(g0.d4)', 5: '(g1.d0)'}}